// Body
$body-bg: #f8fafc; //body bg it's overridden in app.scss but it's used by third party code

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom
$base-blue: #0f96f5;
$gray: #dfdfdf;
$custom-success: #07d3a9;
